BootBase.VC.VC.opendb
temp/2DGame/Win32/
temp/2DGame/x64/
temp/Bootstrap/x64/Release/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/AnimatedSprite/x64/Debug/vc140.idb
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.write.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.read.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.command.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.write.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.read.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.command.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/AnimatedSprite.lastbuildstate
temp/Bootstrap/Win32/Release/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/Win32/Debug/Bootstrap.idb
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/x64/Debug/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.idb
