BootBase.VC.VC.opendb
temp/2DGame/Win32/
temp/2DGame/x64/
temp/Bootstrap/x64/Release/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/AnimatedSprite/x64/Debug/vc140.idb
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.write.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.read.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.command.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.write.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.read.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.command.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/AnimatedSprite.lastbuildstate
temp/Bootstrap/Win32/Release/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/Win32/Debug/Bootstrap.idb
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/x64/Debug/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.idb
BootBase.VC.db
temp/Project3D/x64/Debug/Project3D.tlog/link.read.1.tlog
temp/Project3D/x64/Debug/Project3D.tlog/link.command.1.tlog
temp/Project3D/x64/Debug/Project3D.tlog/Project3D.lastbuildstate
temp/Project3D/x64/Debug/Project3D.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Debug/imgui_glfw3.obj
temp/Bootstrap/x64/Debug/imgui_draw.obj
temp/Bootstrap/x64/Debug/imgui.obj
temp/Bootstrap/x64/Debug/gl_core_4_4.obj
temp/Bootstrap/x64/Debug/Bootstrap.log
temp/Bootstrap/x64/Debug/Bootstrap.lib
temp/Project3D/x64/Debug/vc140.pdb
temp/Project3D/x64/Debug/vc140.idb
temp/Project3D/x64/Debug/main.obj
temp/Project3D/x64/Debug/Project3D.tlog/link.write.1.tlog
temp/Project3D/x64/Debug/Project3D.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Debug/Renderer2D.obj
temp/Bootstrap/x64/Debug/Input.obj
temp/Bootstrap/x64/Debug/Gizmos.obj
temp/Bootstrap/x64/Debug/Font.obj
temp/Bootstrap/x64/Debug/Application.obj
temp/Project3D/x64/Debug/Project3D.ilk
temp/Project3D/x64/Debug/Project3D.exe
temp/Bootstrap/x64/Debug/Bootstrap.pdb
temp/Project3D/x64/Debug/Project3D.pdb
temp/Project3D/x64/Debug/Project3D.log
temp/Bootstrap/x64/Debug/Texture.obj
temp/Project3D/x64/Debug/Project3D.tlog/CL.read.1.tlog
x64/Debug/MathsLib.pdb
x64/Debug/MathsLib.lib
.vs/BootBase/v14/.suo
.vs/config/applicationhost.config
enc_temp_folder/39a9998132dfaf4d96255616a5c82492/FlowForce.h
x64/Release/MathsLib.lib
temp/Bootstrap/x64/Release/Texture.obj
temp/Bootstrap/x64/Release/Renderer2D.obj
temp/Bootstrap/x64/Release/Bootstrap.log
temp/Bootstrap/x64/Release/Bootstrap.lib
temp/Bootstrap/x64/Release/imgui.obj
temp/Bootstrap/x64/Release/gl_core_4_4.obj
temp/Bootstrap/x64/Release/Font.obj
temp/Bootstrap/x64/Release/Bootstrap.pdb
temp/Bootstrap/x64/Release/imgui_glfw3.obj
temp/Bootstrap/x64/Release/imgui_draw.obj
temp/Bootstrap/x64/Release/Input.obj
temp/Bootstrap/x64/Release/Gizmos.obj
temp/Bootstrap/x64/Release/Application.obj
temp/Bootstrap/x64/Release/Bootstrap.Build.CppClean.log
